.ps-home-collection
    .container
        .row
            +column({cols: [5, 5, 5, 12]})
                .ps-block--collection
                    .ps-block__thumbnail: a(href='product-listing.html'): img(src="img/collection/home-1-1.jpg" alt="")
                    .ps-block__content
                        h5 Sale up to 20% off on all
                        h3 Women’s
                        p Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie
                        a(href='product-listing.html').ps-block__morelink Shop Now
            +column({cols: [7, 7, 7, 12]})
                .ps-block--collection.ps-block--reverse
                    .ps-block__thumbnail: a(href='product-listing.html'): img(src="img/collection/home-1-2.jpg" alt="")
                    .ps-block__content
                        h5 Sale up to 20% off on all
                        h3 Men’s
                        p Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie
                        a(href='product-listing.html').ps-block__morelink Shop Now

