-
    lookbook_5 = [
        {
            subTitle: '2018 Fashion For Mens',
            title: "Denim <br> & Jacket",
            desc: 'Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie',
            imageFolder: 'book-1'
        },
        {
            subTitle: '2018 Fashion For Womens',
            title: "Shirts <br> & Tops",
            desc: 'Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie',
            imageFolder: 'book-2'
        },
        {
            subTitle: '2018 Fashion For Shoes & Bags',
            title: "New arrivals",
            desc: 'Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie',
            imageFolder: 'book-3'
        },
        {
            subTitle: '2018 Fashion For Accessories',
            title: "Summer sale",
            desc: 'Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie',
            imageFolder: 'book-4'
        },
        {
            subTitle: 'Best Seller',
            title: "-40% spring",
            desc: 'Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie',
            imageFolder: 'book-5'
        },
    ]