-
    arrivals = [
        {
            sale: true,
            category: 'Men',
            title: 'Front knotted crepe body',
            saleOfPrice: '$168.99',
            price: '$178.99',
            star: true,
            review: false,
            thumbnail: 'img/products/arrival-1.jpg'
        },
        {
            sale: false,
            category: 'Men',
            title: 'White sport shoes',
            saleOfPrice: '',
            price: '$78.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-2.jpg'
        },
        {
            sale: true,
            category: 'Watches',
            title: 'Scalloped body',
            saleOfPrice: '$168.99',
            price: '$18.99',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-3.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Denim vintage skirt',
            saleOfPrice: '',
            price: '$84.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-4.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Ethnic embroidered blouse',
            saleOfPrice: '',
            price: '$124.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-5.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Motif organic cotton t-shirt',
            saleOfPrice: '$53.00',
            price: '$24.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-6.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-7.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-8.jpg'
        },
    ]
-
    collections = [
        {
            sale: true,
            category: 'Men',
            title: 'Front knotted crepe body',
            saleOfPrice: '$168.99',
            price: '$178.99',
            star: true,
            review: false,
            thumbnail: 'img/products/collection-1.jpg'
        },
        {
            sale: false,
            category: 'Men',
            title: 'White sport shoes',
            saleOfPrice: '',
            price: '$78.99',
            star: false,
            review: true,
            thumbnail: 'img/products/collection-2.jpg'
        },
        {
            sale: true,
            category: 'Watches',
            title: 'Scalloped body',
            saleOfPrice: '$168.99',
            price: '$18.99',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/collection-3.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Denim vintage skirt',
            saleOfPrice: '',
            price: '$84.99',
            star: false,
            review: true,
            thumbnail: 'img/products/collection-4.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Ethnic embroidered blouse',
            saleOfPrice: '',
            price: '$124.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/collection-5.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Motif organic cotton t-shirt',
            saleOfPrice: '$53.00',
            price: '$24.50',
            star: false,
            review: true,
            thumbnail: 'img/products/collection-6.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            thumbnail: 'img/products/collection-7.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/collection-8.jpg'
        },
    ]
-
    arrivals_2 = [
        {
            sale: true,
            category: 'Men',
            title: 'Front knotted crepe body',
            saleOfPrice: '$168.99',
            price: '$178.99',
            star: true,
            review: false,
            thumbnail: 'img/products/arrival-1.jpg'
        },
        {
            sale: false,
            category: 'Men',
            title: 'White sport shoes',
            saleOfPrice: '',
            price: '$78.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-2.jpg'
        },
        {
            sale: true,
            category: 'Watches',
            title: 'Scalloped body',
            saleOfPrice: '$168.99',
            price: '$18.99',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-3.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Denim vintage skirt',
            saleOfPrice: '',
            price: '$84.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-4.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Ethnic embroidered blouse',
            saleOfPrice: '',
            price: '$124.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-5.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Motif organic cotton t-shirt',
            saleOfPrice: '$53.00',
            price: '$24.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-6.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-7.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-8.jpg'
        },
        {
            sale: true,
            category: 'Men',
            title: 'Front knotted crepe body',
            saleOfPrice: '$168.99',
            price: '$178.99',
            star: true,
            review: false,
            thumbnail: 'img/products/arrival-1.jpg'
        },
        {
            sale: false,
            category: 'Men',
            title: 'White sport shoes',
            saleOfPrice: '',
            price: '$78.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-2.jpg'
        },
        {
            sale: true,
            category: 'Watches',
            title: 'Scalloped body',
            saleOfPrice: '$168.99',
            price: '$18.99',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-3.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Denim vintage skirt',
            saleOfPrice: '',
            price: '$84.99',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-4.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Ethnic embroidered blouse',
            saleOfPrice: '',
            price: '$124.50',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/arrival-5.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Motif organic cotton t-shirt',
            saleOfPrice: '$53.00',
            price: '$24.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-6.jpg'
        },
        {
            sale: false,
            category: 'Women',
            title: 'Hooded body sweatshirt',
            saleOfPrice: '',
            price: '$84.50',
            star: false,
            review: true,
            thumbnail: 'img/products/arrival-7.jpg'
        },
    ]
-
    accsess = [
        {
            sale: true,
            category: 'Men',
            title: 'Front knotted crepe body',
            saleOfPrice: '$168.99',
            price: '$178.99',
            star: true,
            review: false,
            thumbnail: 'img/products/access-1.jpg'
        },
        {
            sale: false,
            category: 'Men',
            title: 'White sport shoes',
            saleOfPrice: '',
            price: '$78.99',
            star: false,
            review: true,
            thumbnail: 'img/products/access-2.jpg'
        },
        {
            sale: true,
            category: 'Watches',
            title: 'Scalloped body',
            saleOfPrice: '$168.99',
            price: '$18.99',
            star: false,
            review: true,
            color: true,
            thumbnail: 'img/products/access-3.jpg'
        },
    ]