-
    team = [
        {
            name: 'Elia Giovani',
            title: 'Product Manager'
        },
        {
            name: 'Gabriel Eldo',
            title: 'Fashion Designer'
        },
        {
            name: 'Alberto Kayel',
            title: 'CEO founder'
        },
        {
            name: 'Maria Slovakia',
            title: 'CEO founder'
        },
        {
            name: 'Luther Frankil',
            title: 'Fashion Designer'
        },
        {
            name: 'Gabriel Eldo',
            title: 'SEO Marketing'
        },
        {
            name: 'Dalton Garrin',
            title: 'Fashion Designer'
        },
        {
            name: 'Luther Frankil',
            title: 'Fashion Designer'
        },
    ]