extends ../../master

block page_header

    - var currentPage = 'product'
    include ../../shared/header-2

block page_content
    .ps-breadcrumb
            .container
                ol.breadcrumb
                    li: a(href="index.php") Home
                    li.active Men
    .ps-page.ps-page--shopping
        include ../../partials/product/categories-list
        include ../../partials/sections/partners
        - let subscribe = "gray";
        include ../../partials/sections/subscribe
    include ../../shared/footer




