extends ../../master

block page_header

    - var currentPage = 'product'
    include ../../shared/header-2

block page_content
    .ps-breadcrumb
            .container
                ol.breadcrumb
                    li: a(href="index.php") Home
                    li.active Product Detail
    .ps-page
        include ../../partials/product/product-detail
        include ../../partials/sections/partners
        - let subscribe = "gray";
        include ../../partials/sections/subscribe
    include ../../shared/footer




