.ps-section.ps-about-us
    .container
        .ps-section__header
            h3 About Us
            p items that worth the hype
        .ps-section__content
            .row
                +column({cols: [5, 5, 12, 12]})
                    img(src="img/about-1.jpg" alt="")
                +column({cols: [7, 7, 12, 12]})
                    figure
                        p A style is not just about keeping up with the trending fashion or buying expensive clothes. The style is, in fact, a reflection of your own personality and inner mind and it has little to do with appearance. Being well-dressed doesn’t mean we have a style. It means you pay attention to your looks. But if others say they can see your style, it means you have a hallmark.
                        img(src="img/about-2.jpg" alt="")