.ps-product-hotpot
    img(src="img/hotpot.jpg" alt="")
    .ps-block--hotpot.first
        .ps-block__circle
            span $45
        .ps-block__content
            p Bomber Jacket
    .ps-block--hotpot.second
        .ps-block__circle
            span $78
        .ps-block__content
            p Orange T-shirt
    .ps-block--hotpot.third
        .ps-block__circle
            span $24
        .ps-block__content
            p White Jean