.ps-section.ps-home-testimonials
    .container
        .ps-section__header
            h3 Clients Testimonials
            p Items that worth the hype
        .ps-section__content
            .ps-block--testimonial
                .ps-block__thumbnail
                    img(src="img/user/1.jpg" alt="")
                .ps-block__content
                    p Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie
                    h5 <strong>Roche Petite </strong> -  Fashion Designer

