include ../../data/products
.ps-shopping.ps-shopping--sidebar
    .container
        .row
            +column({cols: [3, 3, 12, 12, 12]})
                include ../modules/product-sidebar
            +column({cols: [9, 9, 12, 12, 12]})
                include module-product-sidebar-3-column
