extends ../../master

block page_header

    - var currentPage = 'blog'
    include ../../shared/header-2

block page_content
    .ps-breadcrumb
        .container
            ol.breadcrumb
                li: a(href="index.php") Home
                li.active About Us
    .ps-page.ps-page--blog
        .ps-page__header
            .container
                h1 The Blog
        //include ../../partials/blog/blog-right-sidebar
        include ../../partials/sections/partners
        - let subscribe = "gray";
        include ../../partials/sections/subscribe
    include ../../shared/footer




