include utils/env
include utils/mixins
doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(href="apple-touch-icon.png" rel="apple-touch-icon")
        link(href="favicon.png" rel="icon" )
        meta(name="author", content="")
        meta(name="keywords" content="")
        meta(name="description", content="")
        block title
            title #{title}
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,900%7CTangerine:400,700%7CPlayfair+Display:400,700" rel="stylesheet">
        link(rel="stylesheet", href="plugins/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="plugins/bootstrap4/css/bootstrap.min.css")
        link(rel="stylesheet", href="plugins/owl-carousel/assets/owl.carousel.css")
        link(rel="stylesheet", href="plugins/slick/slick/slick.css")
        link(rel="stylesheet", href="plugins/lightGallery-master/dist/css/lightgallery.min.css")
        link(rel="stylesheet", href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css")
        link(rel="stylesheet", href="plugins/jquery-ui/jquery-ui.min.css")
        link(rel="stylesheet", href="plugins/voye-icons/style.css")
        link(rel="stylesheet", href="plugins/selectize/dist/css/selectize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        block page_header
        block page_content
        #back2top: i.fa.fa-angle-up
        include shared/loading
        include shared/search
        include partials/modules/login
        //- JS Library
        // Plugins

        script(src="plugins/jquery-1.12.4.min.js")
        //-build:js plugins/plugins.js
        //-script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
        //-script(src="plugins/owl-carousel/owl.carousel.min.js")
        //-script(src="plugins/imagesloaded.pkgd.js")
        //-script(src="plugins/masonry.pkgd.min.js")
        //-script(src="plugins/isotope.pkgd.min.js")
        //-script(src="plugins/jquery.matchHeight-min.js")
        //-script(src="plugins/slick/slick/slick.min.js")
        //-script(src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js")
        //-script(src="plugins/slick-animation.min.js")
        //-script(src="plugins/lightGallery-master/dist/js/lightgallery-all.min.js")
        //-script(src="plugins/jquery-ui/jquery-ui.min.js")
        //-script(src="plugins/gmap3.min.js")
        script(src="plugins/selectize/dist/js/standalone/selectize.min.js")
        script(src="plugins/plugins.min.js")
        //-endbuild
        block page_scripts
        // Custom scripts
        script(src="js/main.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U&region=GB")
