extends ../master

block page_header

    - var currentPage = 'pages'
    include ../shared/header-2

block page_content
    .ps-breadcrumb
            .container
                ol.breadcrumb
                    li: a(href="index.php") Home
                    li.active Shopping Cart
    .ps-page.ps-page--payment
        include ../partials/pages/cart
        include ../partials/sections/partners
        - let subscribe = "gray";
        include ../partials/sections/subscribe
    include ../shared/footer
