extends ../master

block page_header
    - var currentPage = 'homepage'
    include ../shared/header-4

block page_content
    #homepage-9
        include ../partials/home-9/home-banner
        include ../partials/sections/new-arrivals
        include ../partials/sections/our-blogs
        - collections = 'homepage-6';
        include ../partials/sections/site-features
        - let subscribe = 'white';
        include ../partials/sections/subscribe
    include ../shared/footer
    include ../partials/modules/subscribe-popup



