footer.ps-footer
    .ps-footer__content
        .container
            .row
                +column({cols: [3, 3, 6, 12]})
                    .ps-site-info
                        h3 Contact Info
                        p Mauris interdum magna eu neque convallis, vel laoreet lectus ultrices. Mauris at ullamcorper orci.
                        figure
                            p
                                i.icon-paperplane
                                |  No. 120 E 4th Ave, USA
                            p
                                i.icon-phone
                                |  +1-12345 - 6789
                            p
                                i.icon-envelope-o
                                a(href='mailto:domain@example.com') domain@example.com
                +column({cols: [3, 3, 6, 12]})
                    .widget.widget_footer.widget_footer-posts
                        h3.widget-title Recent Post
                        .ps-post--footer
                            .ps-post__thumbnail: a(href='#'): img(src="img/posts/footer-1.png" alt="")
                            .ps-post__content
                                a(href='blog-detail.html') Roche Petite Gold White
                                p
                                    span July 22, 2018
                                    span 1 Comment
                        .ps-post--footer
                            .ps-post__thumbnail: a(href='#'): img(src="img/posts/footer-2.png" alt="")
                            .ps-post__content
                                a(href='blog-detail.html') Roche Petite Gold White
                                p
                                    span July 22, 2018
                                    span 1 Comment
                +column({cols: [2, 2, 4, 4, 6]})
                    .widget.widget_footer
                        h3.widget-title Our Stores
                        ul
                            li: a(href='#') New York
                            li: a(href='#') London SF
                            li: a(href='#') Cockfosters BP
                            li: a(href='#') Los Angeles
                            li: a(href='#') Chicago
                            li: a(href='#') Las Vegas
                +column({cols: [2, 2, 4, 4, 6]})
                    .widget.widget_footer
                        h3.widget-title Our Stores
                        ul
                            li: a(href='#') Privacy Policy
                            li: a(href='#') Returns
                            li: a(href='#') Terms & Conditions
                            li: a(href='#') Contact Us
                            li: a(href='#') Latest News
                            li: a(href='#') Our Sitemap
                +column({cols: [2, 2, 4, 4, 6]})
                    .widget.widget_footer
                        h3.widget-title Footer Menu
                        ul
                            li: a(href='#') Privacy Policy
                            li: a(href='#') Returns
                            li: a(href='#') Terms & Conditions
                            li: a(href='#') Contact Us
                            li: a(href='#') Latest News
                            li: a(href='#') Our Sitemap
    .ps-footer__copyright
        .container
            .row
                +column({cols: [3, 6, 6, 12]})
                    a(href='index.php').ps-logo: img(src="img/logo-black.png" alt="")
                +column({cols: [4, 6, 6, 12]})
                    .ps-footer__social
                        ul.ps-list--social
                            li: a(href='#').facebook: i.icon-facebook2
                            li: a(href='#').twitter: i.icon-twitter
                            li: a(href='#').instagram: i.icon-instagram
                            li: a(href='#').vimeo: i.icon-vimeo
                            li: a(href='#').behance: i.icon-behance
                            li: a(href='#').linkedin: i.icon-linkedin2
                        p © Copyright 2018 bily. All Rights Reserved.
                +column({cols: [5, 12, 12, 12]})
                    .ps-footer__payment
                        img(src="img/payment.png" alt="")


