.ps-about--intro
    .container
        blockquote
            p Have given likeness every. Very were beginning signs moveth. Fly above sea itself. Divided so you’ll there called. Gathering dry earth.
        p Have given likeness every. Very were beginning signs moveth. Fly above sea itself. Divided so you’ll there  called. Gathering dry earth. Isn’t heaven appear. Replenish. Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which. Winged female replenish tree face itself together own face. Lights together to you’re together. You’ll. Form. Moving created one. Darkness whales fourth from own moved.
           .ps-video
                a(href='#'): img(src="img/pages/about-video.jpg" alt="")
                a(href='#').ps-video__link: i.icon-play-circle
.ps-about-signature
    .ps-section__left.bg--top(data-background="img/pages/about-signature.jpg")
    .ps-section__right
        h2 Our Stories
        blockquote
            p “Have given likeness every. Very were beginning signs moveth.”
        p Have given likeness every. Very were beginning signs moveth. Fly above sea itself. Divided so you’ll there  called. Gathering dry earth. Isn’t heaven appear. Replenish. Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which.
        p Moving created one. Darkness whales fourth from own moved. Have given likeness every. Very were beginning signs moveth. Fly above sea itself. Divided so you’ll there  called. Gathering dry earth. Isn’t heaven appear.
        img(src="img/pages/signature.png" alt="")
.ps-site-features
    .container
        .ps-section__header
            h3 Featured Services
        .ps-block--features
            .row.ps-col-tiny
                +column({cols: [3, 3, 6, 6, 12]})
                    .ps-block--feature
                        .ps-block__left: i.icon-paper-plane-o
                        .ps-block__right
                            p Free Worldwide Shipping
                            small On all orders over $75.00

                +column({cols: [3, 3, 6, 6, 12]})
                    .ps-block--feature
                        .ps-block__left: i.icon-rotate-ccw
                        .ps-block__right
                            p Easy 30 Days Returns
                            small 30 days money back
                +column({cols: [3, 3, 6, 6, 12]})
                    .ps-block--feature
                        .ps-block__left: i.icon-credit-card
                        .ps-block__right
                            p 100% Secure Checkout
                            small PayPal / MasterCard / Visa
                +column({cols: [3, 3, 6, 6, 12]})
                    .ps-block--feature
                        .ps-block__left: i.icon-support2
                        .ps-block__right
                            p 24/7 EXCELLENT SUPPORT
                            small PayPal / MasterCard / Visa
include ../sections/comming-events