mixin portfolio
    .ps-block--portfolio.ps-block--portfolio-2
            img(src="img/portfolio/2-" + (i + 1) + ".jpg" alt="")
            a(href='#').ps-block__morelink View Detail
            p Fashion Design, Models
            h5 Perfected with great effort


.ps-portfolio.masonry-root
    .container
        ul.ps-masonry-filter
            li.current: a(href='#' data-filter="*") All
            li: a(href='#' data-filter=".fashion") Fashion
            li: a(href='#' data-filter=".design") Design
            li: a(href='#' data-filter=".model") Models
            li: a(href='#' data-filter=".photograph") Photograph
            li: a(href='#' data-filter=".london") London Style
        .masonry-wrapper(data-col-lg="3" data-col-md="3" data-col-sm="2" data-col-xs='1' data-gap="30" data-radio="100%")
            .ps-masonry.filter
                .grid-sizer
                - for (var i = 0; i < 12; i ++)
                    if i == 0 || i == 1
                        .grid-item.fashion: .grid-item__content-wrapper: +portfolio
                    else if i == 2 || i == 3
                        .grid-item.design: .grid-item__content-wrapper: +portfolio
                    else if i == 4 || i == 5
                        .grid-item.model: .grid-item__content-wrapper: +portfolio
                    else if i == 6 || i == 7
                        .grid-item.photograph: .grid-item__content-wrapper: +portfolio
                    else
                        .grid-item.london: .grid-item__content-wrapper: +portfolio

        .ps-section__footer
            a(href='#').ps-btn.ps-btn--outline.ps-btn--black Load more
