$font-1st: 'Poppins', sans-serif;
$font-2nd: 'Tangerine', cursive;
$font-3rd: 'Playfair Display', serif;

$color-1st: #c61a32;
$color-2nd: #222222;
$color-3rd: #5e6b9d;

$color-heading: #222;
$color-text: #777;
$color-text-2: #555;
$color-dark: #161824;

$color-success: #00C9A7;
$color-warning: #FAA806;
$color-danger: #EC2434;
$color-gray: #9e9e9e;
$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
