.ps-home-banner
    .ps-carousel--animate.ps-carousel--1st
        .item
            .ps-banner--1.bg--top(data-background="img/banner/home-7/bn-1.jpg")
                .container
                    p 2018 Fashion Lookbook
                    h1  Dresses of Oceania & Asia
                    a(href='#').ps-btn.ps-btn--outline Shop Now
        .item
            .ps-banner--1.bg--top(data-background="img/banner/home-7/bn-2.jpg")
              p 2018 Fashion Lookbook
              h1  Dresses of Oceania & Asia
              a(href='#').ps-btn.ps-btn--outline Shop Now
        .item
            .ps-banner--1.bg--top(data-background="img/banner/home-7/bn-3.jpg")
              p 2018 Fashion Lookbook
              h1  Dresses of Oceania & Asia
              a(href='#').ps-btn.ps-btn--outline Shop Now

