mixin post(img, title)
    .ps-post
        .ps-post__thumbnail
            a(href='blog-detail.html').ps-post__overlay
            //-img(src="img/posts/4.jpg" alt="")
            img(src=img alt="")
            span.ps-post__posted July 22, 2018
        .ps-post__content
            //-a(href='blog-detail.html')
            .ps-post__title Condimentum adipiscing dis nam parturient
            a(href='blog-detail.html').ps-post__title #{title}
            .ps-post__meta
                span
                    img(src="img/user/3.jpg" alt="")
                    | Posted by <a href="#">Logan</a>
                span
                    i.icon-message-circle
                    | 2
            p Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor
            a(href='blog-detail.html').ps-post__morelink Continue Reading
.container
    .ps-blog--sidebar(class=(blog) ? 'ps-blog--reverse' : '')
        .ps-section__left
            include ../modules/blog-sidebar
        .ps-section__right
            +post('img/posts/1.jpg', 'Mark R. McMann Fall/Winter 2017 Collection')
            +post('img/posts/2.jpg', 'Mark R. McMann Fall/Winter 2017 Collection')
            +post('img/posts/3.jpg', 'Mark R. McMann Fall/Winter 2017 Collection')
            +post('img/posts/4.jpg', 'Mark R. McMann Fall/Winter 2017 Collection')
            +post('img/posts/5.jpg', 'Mark R. McMann Fall/Winter 2017 Collection')
            .ps-section__footer
                +pagination