.ps-comments
    .container
        .ps-section__header
            h3 5 replies to <strong>“Mark R. McMann Fall/Winter 2017 Collection”</strong>
        .ps-section__content
            .ps-block--comment
                .ps-block__thumbnail
                    img(src="img/user/5.jpg" alt="")
                .ps-block__content
                    h5 Patricia Baker
                    small August 12, 2015 at 11:19 am
                    p Aenean sit amet odio est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris quis est lobortis odio dignissim rutrum. Pellentesque blandit lacinia diam, a tincidunt felis tempus eget.
                    a(href='#').ps-btn Reply
                    .ps-block__reply
                        .ps-block--comment
                            .ps-block__thumbnail
                                img(src="img/user/1.jpg" alt="")
                            .ps-block__content
                                h5 Martin Bailey
                                small August 12, 2015 at 11:19 am
                                p Aenean sit amet odio est. Pellentesque habitant
                                a(href='#').ps-btn Reply
                        .ps-block--comment
                            .ps-block__thumbnail
                                img(src="img/user/2.jpg" alt="")
                            .ps-block__content
                                h5 Martin Bailey
                                small Pellentesque blandit lacinia diam, a tincidunt felis tempus eget.
                                p Pellentesque blandit lacinia diam...
                                a(href='#').ps-btn Reply
            .ps-block--comment
                .ps-block__thumbnail
                    img(src="img/user/3.jpg" alt="")
                .ps-block__content
                    h5 Martin Bailey
                    small Pellentesque blandit lacinia diam, a tincidunt felis tempus eget.
                    p Pellentesque blandit lacinia diam...
                    a(href='#').ps-btn Reply
        include ../modules/post-comment