#subscribe.ps-popup(data-time=100000)
    .ps-popup__content.bg--cover(data-background="img/bg/subscribe-popup.jpg")
        a(href='#').ps-btn--close.ps-popup__close
        form(action="do_action" method="post" class="ps-form--subscribe-popup")
            h3 Extra
            h1 40% <br> Off
            h3 2018 Summer sale
            figure
                h4 Our newsletters
                p Stay Updated on all that’s new add noteworthy
            .form-group
                input.form-control(type="text" placeholder="Join our mailing list")
                button.ps-btn.ps-btn--black.ps-btn--curve Subscribe
